---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { SITE } from "@data/constants";

const service: CollectionEntry<"services">[] = (
  await getCollection("services")
).sort(
  (a: CollectionEntry<"services">, b: CollectionEntry<"services">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content
const title: string = "Services";

const pageTitle: string = `Services | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://ktchvac.com/services",
    "url": "https://ktchvac.com/services",
    "name": "Services | Kelch's Total Comfort",
    "description": "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://ktchvac.com",
      "name": "Kelch's Total Comfort",
      "description": "Kelch's Total Comfort offers top-quality HVAC solutions to keep your home or business comfortable all year long."
    },
    "inLanguage": "en-US"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex flex-col justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="w-full flex items-center justify-between gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>

        <PrimaryCTA title="Customer Stories" url="#testimonials" noArrow={true} />
      </div>

      <p class="lg:w-1/2 text-left">
        At Kelch’s Total Comfort, we provide top-quality HVAC solutions to keep your home or business comfortable all year long. Our experienced professionals offer reliable, efficient, and affordable services, from installations to emergency repairs. Whether you need heating, cooling, or air quality solutions, we’re here to help.
      </p>
    </div>
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        service.map((service, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall service={service} />;
          } else {
            return <CardWide service={service} />;
          }
        })
      }
    </section>
  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Why Choose Kelch's Total Comfort?"
    subTitle="We are a family-owned and operated and dedicated to providing the best possible service to our customers."
    benefits={[
      "Expert HVAC technicians for reliable and efficient services.",
      "Emergency repairs available for unexpected issues.",
      "Affordable pricing for all HVAC needs.",
    ]}
  />
  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="What Our Customers Say"
  />
</MainLayout>
