---
import Icon from "@components/ui/icons/Icon.astro";
// Define props from Astro
const { id, collapseId, question, answer, first } = Astro.props;
// Define TypeScript interface for props
interface Props {
  id: string;
  collapseId: string;
  question: string;
  answer: string;
  first?: boolean;
}
// Define class names for the accordion and its content
const ACCORDION_CLASS_DEFAULT = "hs-accordion pb-3 active";
const ACCORDION_CLASS_COLLAPSED = "hs-accordion pt-6 pb-3";
const ACCORDION_CONTENT_CLASS =
  "hs-accordion-content w-full overflow-hidden transition-[height] duration-300";
// Helper function to return the correct class for the accordion
function getAccordionClass(first: boolean = false) {
  return first ? ACCORDION_CLASS_DEFAULT : ACCORDION_CLASS_COLLAPSED;
}
---

<!-- The main container for the accordion item -->
<div class="hs-accordion rounded-lg bg-white px-5 py-6 shadow-sm transition-all duration-300 hs-accordion-active:bg-red-50 dark:bg-neutral-600 dark:hs-accordion-active:bg-neutral-600" id={id}>
  <!-- The accordion button, which toggles the expanded/collapsed state -->
  <button
    class="hs-accordion-toggle group inline-flex w-full items-center justify-between gap-x-3 text-balance rounded-lg text-start font-bold text-neutral-800 outline-none transition focus-visible:ring dark:text-neutral-200 dark:focus:outline-none md:text-base"
    aria-controls={collapseId}
  >
    <span class="flex-1 text-left">{question}</span>
    <!-- Circular button with arrow icon -->
    <span class="flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full bg-red-500 text-white transition-colors group-hover:bg-red-600 hs-accordion-active:bg-red-500 dark:bg-orange-400 dark:group-hover:bg-orange-500">
      <!-- SVG Icon that is shown when the accordion is NOT active -->
      <svg class="h-4 w-4 hs-accordion-active:hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9 6 6 6-6" />
      </svg>
      <!-- SVG Icon that is shown when the accordion is active -->
      <svg class="hidden h-4 w-4 hs-accordion-active:block" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m18 15-6-6-6 6" />
      </svg>
    </span>
  </button>
  <!-- The collapsible content of the accordion -->
  <div
    aria-labelledby={id}
    class={`${first ? ACCORDION_CONTENT_CLASS : "hidden " + ACCORDION_CONTENT_CLASS}`}
    id={collapseId}
  >
    <!-- The content paragraph -->
    <p class="mt-3 text-pretty text-neutral-600 dark:text-neutral-400">
      {answer}
    </p>
  </div>
</div>
