---
// Import the necessary dependencies
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
import enStrings from "@utils/navigation.ts";
import Icon from "@components/ui/icons/Icon.astro";
import BrandLogo from "@components/BrandLogo.astro";
import { Image } from "astro:assets";
import LogoWhite from "@images/logowhite.png";
import { SITE } from "@data/constants";

// Select the correct translation based on the page's lang prop:
const strings = enStrings;
const crafted = "Crafted by";
---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="flex flex-col items-center justify-center p-4"
  >
    <!-- Light mode logo -->
    <div class="block dark:hidden">
      <BrandLogo
        class="h-28 w-auto"
      />
    </div>
    <!-- Dark mode white logo -->
    <div class="hidden dark:block">
      <Image
        src={LogoWhite}
        alt="H & P Mechanical Logo"
        class="h-28 w-auto"
        draggable={"false"}
      />
    </div>

    <div class="flex">
      <FooterSocialLink url={strings.socialLinks.facebook}
        ><Icon name="facebookFooter" />
      </FooterSocialLink>

      <FooterSocialLink url={strings.socialLinks.google}
        ><Icon name="googleFooter" />
      </FooterSocialLink>
    </div>

    <p class="text-sm text-center text-neutral-600 dark:text-neutral-400">
      © <span id="current-year"></span> {SITE.title}. {crafted}
      <a
        class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
        href="https://www.f5webdev.com/"
        target="_blank"
        rel="noopener noreferrer">F5 Web Development LLC</a
      >.
    </p>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>

